
<%- include('./partials/_header.ejs'); -%>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="card-body">
                <% if (message && message != "") {%>
                    <div class="alert alert-danger" role="alert">
                        <%= message %>
                    </div>
                <%}%>
                <form action="/insert" method="POST">
                    <div class="form-group">
                        <input type="text" name="codigo" placeholder="Ingrese el código" class= "form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="content" placeholder="Ingrese la descripción" class= "form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="precio" placeholder="Ingrese el precio" class= "form-control">
                    </div>
                    <button type= "submit" class="btn btn-primary btn-block">Ingresar</button>
                </form>
            </div>
        </div>
        <div class="col-md-7">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Operación</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i=0; i < autos.length ; i++) {%>
                        <tr>
                            <td><%= autos[i].codigo %></td>
                            <td><%= autos[i].content %></td>
                            <td><%= autos[i].precio %></td>
                            <td>
                                <a href="/delete/<%= autos[i]._id %>" class="btn btn-danger">Eliminar</a>
                                <a href="/update/<%= autos[i]._id %>" class="btn btn-info">Editar</a>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include('./partials/_footer.ejs'); -%>