<%- include('./partials/_header.ejs'); -%>

<div class="col-md-5 offset-md-3">
    <div class="card-body">
        <form action="/edit/<%= auto._id%>" method="POST">
            <div class="form-group">
                <input type="text"
                name="codigo"
                placeholder="Ingrese el código"
                class= "form-control"
                value= "<%= auto.codigo%>">
            </div>
            <div class="form-group">
                <input type="text"
                name="content"
                placeholder="Ingrese la descripción"
                class= "form-control"
                value= "<%= auto.content%>">
            </div>
            <div class="form-group">
                <input type="text"
                name="precio"
                placeholder="Ingrese el precio"
                class= "form-control"
                value= "<%= auto.precio%>">
            </div>
            <button type= "submit" class="btn btn-primary btn-block">Editar</button>
        </form>
    </div>
</div>

<%- include('./partials/_footer.ejs'); -%>