<%- include('./partials/_header.ejs'); -%>

<div class="col-md-5 offset-md-3">
    <div class="card-body">
        <h1 class="mb-4">Login</h1>
        <% if (message && message != "") {%>
            <div class="alert alert-danger" role="alert">
                <%= message %>
            </div>
        <%}%>
        <form action="/login" method="POST">
            <div class="form-group">
                <input type="text"
                name="user"
                placeholder="Username"
                class= "form-control">
            </div>
            <div class="form-group">
                <input type="password"
                name="password"
                placeholder="Password"
                class= "form-control">
            </div>
            <button type= "submit" class="btn btn-primary btn-block">Ingresar</button>
        </form>
    </div>
</div>


<%- include('./partials/_footer.ejs'); -%>