<%- include('./partials/_header.ejs'); -%>
<nav class="nav nav-pills flex-column flex-sm-row bg-dark mb-4">
    <a class="flex-sm-fill text-sm-center nav-link" href="/menu">Inicio</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="/auto">Auto</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="/salir">Salir</a>
</nav>
<div class="col-md-5 offset-md-4">
    <div class="container">
        <div class="card" style="width: 18rem;">
            <img src="https://www.nitro.pe/images/2019/07/23/2.jpg" class="card-img-top" alt="auto">
            <div class="card-body">
                <h3>Bienvenido</h3>
                <p class="card-text">Al sistema de registro de autos.</p>
            </div>
        </div>
    </div>
</div>

<%- include('./partials/_footer.ejs'); -%>