<%- include('./partials/_header.ejs'); -%>
<div class="col-md-5 offset-md-3">
    <h5 class="card-header">Salir</h5>
    <div class="card-body">
        <h5 class="card-title">Cerrar Sesión</h5>
        <p class="card-text">¿Esta seguro que desea finalizar la sesión?.</p>
        <a href="/menu" class="btn btn-primary">Cancelar</a>
        <a href="/" class="btn btn-primary">Continuar</a>
    </div>
</div>
<%- include('./partials/_footer.ejs'); -%>